@page
@model BrgyLink.Pages.ManageEquipmentLog.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Details</h1>

<div>
    <h4>EquipmentLog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentLog.EquipmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipmentLog.EquipmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentLog.Action)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipmentLog.Action)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentLog.LogDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipmentLog.LogDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
