@page
@model BrgyLink.Pages.ManageFacilityLog.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacilityLog[0].FacilityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilityLog[0].Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilityLog[0].LogDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FacilityLog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
