@page
@model BrgyLink.Pages.AdminDashboardModel
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_AdminLayout";
}
            
    <section>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Staff Lists</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pt-1 ps-0">
                                        @Html.DisplayNameFor(model => model.Officials[0].FirstName)
                                    </th>
                                    <th class="pt-1">
                                        @Html.DisplayNameFor(model => model.Officials[0].BarangayPosition)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Officials)
                                {
                                    <tr>
                                        <td class="py-1 ps-0">
                                            <div class="d-flex align-items-center">
                                                @if (item.Photo != null && item.Photo.Length > 0)
                                                {
                                                    <!-- Show the official's photo with a fixed size -->
                                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Photo)" alt="Barangay Official Image"/>
                                                }
                                                else
                                                {
                                                    <!-- Show placeholder image with a fixed size -->
                                                    <img src="/images/avatarPlaceholder.jpg" alt="Barangay Official Image" />
                                                }
                                               
                                                <div class="ms-3">
                                                    <p class="mb-0">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MiddleName) @Html.DisplayFor(modelItem => item.LastName)</p>
                                                    <p class="mb-0 text-muted text-small">@Html.DisplayFor(modelItem => item.Status)</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BarangayPosition)
                                        </td>
                                    </tr>
                                }
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section>
       <div class="row">
        <div class="col-md-6 grid-margin grid-margin-md-0 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Barangay Officials Recent Logs</h4>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Profile
                                        </th>
                                        <th>
                                        @Html.DisplayNameFor(model => model.AdminLogs[0].Firstname)
                                        </th>
                                        <th>
                                        @Html.DisplayNameFor(model => model.AdminLogs[0].Actions)
                                        </th>
                                        <th>
                                        @Html.DisplayNameFor(model => model.AdminLogs[0].Description)
                                        </th>
                                        <th>
                                        @Html.DisplayNameFor(model => model.AdminLogs[0].Role)
                                        </th>
                                        <th>
                                        @Html.DisplayNameFor(model => model.AdminLogs[0].Date)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   @foreach(var item in Model.AdminLogs)
                                   {
                                    <tr>
                                        <td class="py-1">
                                            <img src="~/images/avatarPlaceholder.jpg" alt="image" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Firstname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Actions)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @if(item.Role.Contains("Administrator"))
                                            {
                                              <div class="badge badge-danger">@Html.DisplayFor(modelItem => item.Role)</div>
                                            }
                                            else if (item.Role.Contains("Official"))
                                            {
                                              <div class="badge badge-info">@Html.DisplayFor(modelItem => item.Role)</div>
                                            }
                                            else
                                            {
                                                <div class="badge badge-primary">@Html.DisplayFor(modelItem => item.Role)</div>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                    </tr>
                                   }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin grid-margin-md-0 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Barangay Statistics</h4>
                        <div class="template-demo">
                            <div class="d-flex justify-content-between mt-2">
                                <small>Total Residents</small>
                                <small>@Model.TotalResidents</small>
                            </div>
                            <div class="progress progress-sm mt-2">
                                <div class="progress-bar bg-success" role="progressbar" style="width: @Model.ResidentsProgress%" aria-valuenow="@Model.ResidentsProgress" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>Total Barangay Officials</small>
                                <small>@Model.TotalOfficials</small>
                            </div>
                            <div class="progress progress-sm mt-2">
                                <div class="progress-bar bg-info" role="progressbar" style="width: @Model.OfficialsProgress%" aria-valuenow="@Model.OfficialsProgress" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        <div class="d-flex justify-content-between mt-3">
                            <small>Total Barangay Equipments</small>
                            <small>@Model.TotalEquipments</small>
                        </div>
                        <div class="progress progress-sm mt-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.EquipmentsProgress%" aria-valuenow="@Model.EquipmentsProgress" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

       </div>
    </section>
